a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  &.hero-text {
    line-height: 180%;
  }
}


.block-hero-2 {
    --bg: #17171c;
}

::selection {
    background: #EEF7FF;
    color: #FFF;
}

