html,
body {
  height: 100%;
}
body {
  font-family: work sans, sans-serif;
  line-height: 1.7;
  font-size: 20px;
  color: #333;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;
}
@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
    padding: 1em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.8;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p a {
  color: #333;
  text-decoration: underline;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
}
pre,
code {
  overflow: auto;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #333;
}
pre > code,
code > code {
  border: none;
}
pre {
  padding: 1em;
}
code {
  padding: 0.1em;
}
blockquote {
  border-left: 2px solid #333;
  padding-left: 1em;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-style: italic;
}
ul {
  list-style: disc;
  margin-left: 2em;
}

.pagination-nav {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}

.pagination-nav > span {
  display: grid;
  cursor: pointer;
  place-items: center;
  padding: 7px 18px;
  border: 1px solid #eee;
  background-color: transparent;
}

.pagination-nav .option:not(.active) {
  color: #333;
}
.pagination-nav .option:not(.active):hover {
  background-color: #333;
  color: white;
}
.option.disabled:hover {
  background-color: transparent !important;
}
